body {
  height: 900px;
  background-color: #d50102 ;
}


.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#submit-btn {
  margin-top: 10px;
  margin-bottom: 18px;
  background: #f6bc25;
}

h1 {
  color: #f6bc25;
}
